/* General Styles */
body {
    font-family: "Oswald", sans-serif!important;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 0;
}

/* Calendar Container */
.calendar-container {
    /* padding: 20px; */
    width: 96%;
    margin: 50px auto;
    text-align: center;
    background-color: #ffff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding-left: 31%;
}

/* Custom Calendar */
/* .custom-calendar {
    margin: 20px 0;
    border: 1px solid #efefef;
    border-radius: 8px;
    background-color: #c3d9d7;
} */
.custom-calendar {
    height: 100vh;
    width: vw;
    background-color: #c3d9d7;
    width: 90%;
    height: 50%;
}
/* Selected Date */
.selected-date {
    margin: 20px 0;
    font-weight: bold; /* Make the selected date text bold */
    font-size: 1.2em; /* Increase the font size */
    color: #4a90e2; /* Color for the selected date text */
}

/* Events List */
.events {
    margin-top: 30px;
    text-align: left;
}

.events h2 {
    margin-bottom: 10px; /* Space below the events title */
}

.events ul {
    list-style-type: none; /* Remove default bullet points */
    padding: 0; /* Remove padding */
}

.events li {
    padding: 10px; /* Space around each event */
    border: 1px solid #e0e0e0; /* Light border for each event */
    border-radius: 4px; /* Slightly rounded corners */
    margin-bottom: 10px; /* Space between events */
    transition: background-color 0.3s; /* Smooth background change on hover */
}

.events li:hover {
    background-color: #f0f0f0; /* Highlight on hover */
}


